* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.about-top {
    text-align: center;
    margin: 50px 100px 100px 100px;
}
.about-top h2 {
    color: #006151;
    font-size: 2.6em;
}
.about-bottom {
    
}
.about-box {
    display: flex;
    margin: 100px 90px 50px 90px;
}
.a-box {
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    border-right: 2px solid rgba(128, 128, 128, 0.266);
    line-height: 25px;
}
.a-box i {
    font-size: 1.3em;
}
.four {
    border: none;
}